@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --font: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
  --color-one: #00a3de;
  --color-two: #f47820;
  --color-tex: #5b6c8e;
}

body {
  font-family: var(--font);
  min-width: 320px;
}
